body {
    background-color: #010024;
    color: #eaeaea;
}

.scoreContainer {
    align-items: center;
    display: flex;
    gap: 9rem;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 20%;
    text-align: center;
}

.playerScore, .computerScore {
    font-size: 2.5rem;
    font-weight: bold;
}

.container {
    align-items: center;
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin-top: 7.5%;
}

.container button {
    background-color: #010024;
    border: solid;
    border-color: #eaeaea;
    border-radius: 15%;
    color: #eaeaea;
    height: 6rem;
    width: 6rem;
}

.scoreTextContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.container button:hover {
    background-color: #131236;
    border-color: #fff;
    border-width: 0.3rem;
}

.container button:active {
    background-color: #171640;
}

.scoreText {   
}